<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
  </h2>

  <p>
    Established in:
    <%= brewery.year %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= brewery.year %>
  </p>

</div>
